<h1><h1 align="center">Reset your password</h1>

  <%= form_for password_resets_path, :method => :post do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :email %>
        </div>
        <div class="col-sm-8">
          <%= f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true %>
        </div>
      </div>
      <div cless="actions"><%= f.submit "Reset Pasword" %></div>
  <% end %>
