<p><h2>Looking for where to read and create Articles?</h2></p>
<div class="center jumbotron">
  <i>
    <h1>Welcome To Alpha Blog</h1>
    <h3>The blog of Articles!</h3>
  </i>
</div>
<p>
  <i>
    <h5>Join the community to share and articles from all over the world!<br />
        If you already have an acount, click on the Login bìuttom<br />
        to get started click on the SignUp buttom to rigister and<br />
        start sharing your articles to the world!.....
    </h5>
  </i>
</p>
<div class="center">
  <%= link_to 'Sign Up Now!', "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>
