<P><i><h2 align="center">Looking for where to read and create Articles?</h2></i></p>
<div class="center jumbotron">
  <i>
    <h1>Welcome To Alpha Blog</h1>
    <h3>The blog of Articles!</h3>
      <%= link_to 'Sign Up Now!', signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  </i>
</div>
<div align="center">
  <i>
    <h4>Join the community and create, read and share articles from all over the world!<br />
        If you already have an acount, click on the Login buttom<br />
        to get started click on the SignUp buttom to rigister and<br />
        start sharing your articles to the world!.....
    </h4>
  </i>
</div>
